@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
	color: #000000;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	overflow-x: hidden;
	width: 100%;
}
body, html {
	min-height: 100%;
}
h1,h2,h3,h4,h5,h6,
p {
  margin:0;
}
.pb-70 {
	padding-bottom: 70px;
}
.pt-70 {
	padding-top: 70px;
}

button {
	border: inherit;
	background: inherit;
	padding: inherit;
}
button:focus {
	outline:none;
	outline:none -webkit-focus-ring-color;
}
a, a:hover,a:focus {
	outline: none;
	text-decoration: none;
	color: inherit;
}
a, button {
  transition: all .4s ease-in .1s;
  -webkit-transition: all .4s ease-in .1s;
  -moz-transition: all .4s ease-in .1s;
  -ms-transition: all .4s ease-in .1s;
  -o-transition: all .4s ease-in .1s;
}
ul,ol{
  margin: 0;
  padding: 0;
  list-style:none;
}
img,.img{
  max-width:100%;
}

 
#main {
	padding-left: 100px;
	padding-right: 100px;
}



/* ================================= */
/* ---------- Header CSS ----------- */
.header-top {
	background: #fff;
	padding: 30px 0;
}
.header-top , .navbar-nav {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header-top, .header-top .top-righter {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
.navbar-brand {
	width: 250px;
}
.bell-notification img {
	width: 40px;
	height: 40px;
}
.bell-notification .dropdown-menu {
	min-width: 200px;
	border: none;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
	-webkit-box-shadow: 0 4px 20px 0 rgba(0,0,0,0.2);
	   -moz-box-shadow: 0 4px 20px 0 rgba(0,0,0,0.2);
	        box-shadow: 0 4px 20px 0 rgba(0,0,0,0.2);
}
.bell-notification .dropdown-toggle::after {
	display: none;
}
.bell-notification .notification-title ,
.bell-notification .notification-footer {
	padding: 5px 20px;
	text-align: center;
	position: relative;
}
.bell-notification .notification-title {
	font-weight: 600;
	border-bottom: 1px solid #e8e5e5;
	font-size: 14px;
	line-height: 1;
}
.bell-notification .notification-count {
	height: 18px;
	width: 18px;
	text-align: center;
	line-height: 16px;
	background: #000000;
	color: #fff;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	font-size: 10px;
	vertical-align: middle;
	margin-left: 5px;
	margin-top: -1px;
}
.bell-notification .notification-footer {
	border-top: 1px solid #e8e5e5;
}
.bell-notification .notification-footer,
.bell-notification .notification-list li a {
	font-size: 13px;
}
.bell-notification .notification-list {
	color: #c5bdc5;
	margin: 20px;
}

.bell-notification,
.notification-footer a,
.bell-notification .notification-count,
.navbar-nav .nav-link,
.navbar-nav .nav-link  span {
	display: inline-block;
}
.navbar {
	background: #e9e7eb;
	padding: 5px 70px;
}
.navbar-nav {
	width: 100%;
}
.navbar-nav .nav-link .nav-ico {
	width: 40px;
	margin-right: 10px;
	vertical-align: middle;
}
.navbar-nav .nav-link {
	font-size: 18px;
	color: #000000;
	padding: 0;
}
.navbar-toggler {
	position: relative;
	border: none;
	width: 30px; height: 30px;
	padding: 0;
	display: none;
 }
 .navbar-toggler:focus,
 .navbar-toggler:active {
	outline: 0;
 }
 .navbar-toggler span {
	display: block;
	background: #000000;
	height: 3px;
	width: 30px;
	margin-top: 4px;
	margin-bottom: 4px;
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	position: relative;
	left: 0;
	opacity: 1;
 }
 .navbar-toggler span:nth-child(1),
 .navbar-toggler span:nth-child(3) {
	-webkit-transition: transform .35s ease-in-out;
	-o-transition: transform .35s ease-in-out;
	-webkit-transition: -webkit-transform .35s ease-in-out;
	transition: -webkit-transform .35s ease-in-out;
	-o-transition: -o-transform .35s ease-in-out;
	transition: transform .35s ease-in-out;
	transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out, -o-transform .35s ease-in-out;
 }
 .navbar-toggler:not(.collapsed) span:nth-child(1) {
	position: absolute;
	left: 0;
	top: 10px;
	-webkit-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
	opacity: 0.9;
 }
 .navbar-toggler:not(.collapsed) span:nth-child(2) {
	height: 3px;
	visibility: hidden;
	background-color: transparent;
 }
 .navbar-toggler:not(.collapsed) span:nth-child(3) {
	position: absolute;
	left: 0;
	top: 10px;
	-webkit-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
	opacity: 0.9;
 }


/* ---------- Header Ends ----------- */


/* --------- Main Body --------- */
.content-area {
	padding: 70px 0 40px 0;

}
.content-area .profiler {
	position: relative;
	color: #020202;
}
.content-area .profiler .profile-img {
	border-radius: 5px;
	margin-bottom: 20px;
}
.content-area .profiler p span {
	display: block;
}
.content-area .profiler .pro-password > span,
.profiler .louncher-side span,
.subscription-area .subscription-title span,
.history-list li span, .history-list li a,
.profiler .user-area span,
.referel-list span,
.ask-question .ask-link {
	display: inline-block;
}
.content-area .profiler .pro-password > span {
	margin-right: 5px;
}
.content-area .profiler .pro-password > span,
.referel-list .referel-check {
	height: 26px; width: 26px;
}
.profiler .louncher-side span {
	width: 95px;
	margin-bottom: 5px;
	margin-top: 30px;

}
.profiler .referral-img {
	width: 150px;
}
.profiler h4,
.subscription-area .subscription-title,
.ask-question .ask-link  {
	font-size: 18px;
	font-weight: 700;
}
.profiler .ref-url span {
	display: inline-block !important;
	width: 20px;
}
.profiler .ref-url span ,
.referel-list .referel-check {
	margin-right: 10px;
}
.profiler .user-area span {
	width: 80px;
}
.ask-question .ask-link > .chat-img {
	width: 50px;
	margin-right: 10px;
}


.subscription-area .subscription-title span {
	/* height: 45px;  */
	width: 45px;
	margin-right: 1rem;
}
.subscription-area .subscription-title span.small {
	width: 36px;
}
.subscription-area .small-text {
	font-size: 13px;
}
.text-gray {
	color: #c5bdc5;
}
.history-list li, .admin-list li,
.admin-list .admin-left,
.referel-list li, .referel-list li .ref-col,
.disclaimer-box, .reset-panel {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
.history-list li, .admin-list li, .referel-list li,
.reset-panel {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.history-list li, .admin-list li, .referel-list li {
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.history-list > li + li,
.referel-list > li + li {
	margin-top: 10px;
}
.history-list li .history-number .history-num-img, .admin-list li .history-check {
	width: 24px;
	margin-left: 10px;
	vertical-align: middle;
	display: inline-block;
}
.admin-list li .left-inner {
	padding-right: 1rem;
	border-right: #e9e9e9 1px solid;
}
.admin-list li .left-inner,
.admin-list li .admin-right {
	padding-bottom: 1rem;
}
.admin-list .admin-left p {
	padding-left: 1rem;
}


/*Progress Bars*/

.progress-bars .progress {
	position: relative;
	overflow: visible;
	height: 17px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	opacity: 0;
	background: transparent;
}
.progress-bars .progress .progress-bar {
	float: none;
	position: absolute;
	height: 100%;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	     border-radius: 5px;
	-webkit-transition: width 1s ease-in-out .3s;
	-o-transition: width 1s ease-in-out .3s;
	-moz-transition: width 1s ease-in-out .3s;
	transition: width 1s ease-in-out .3s;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #30b284), color-stop(69%, #38c291));
    background: -webkit-linear-gradient(#30b284 31%, #38c291 69%);
    background: -moz-linear-gradient(#30b284 31%, #38c291 69%);
    background: -o-linear-gradient(#30b284 31%, #38c291 69%);
    background: linear-gradient(#30b284 31%, #38c291 69%);
}
.progress-bars .progress .progress-bar span {
	display: block;
	position: absolute;
	right: 0;
	width: 40px;
	padding: 0;
	display: none;
}
.lg-centered .progress-bars {
	width: 60%;
	margin-left: auto;
}
.lg-centered p {
	text-align: center;
}
.progress-wider:not(.lg-centered) {
	width: 80px;
}

/* custom check */
.web-check.custom-control {
	padding-left: 0;
	min-height: auto;
}
.web-check .custom-control-label {
	padding-left: 30px;
	height: 30px;
}
.web-check .custom-checkbox .custom-control-label::before {
	border-radius: 3px;
}
.web-check .custom-checkbox .custom-control-label::before,
.web-check .custom-checkbox .custom-control-label::after {
	box-shadow: none !important;
	transition: none !important;
}
.web-check .custom-control-label::before {
	left: 0;
	width: 26px;
	height: 26px;
	background-color: #fff;
	border: #000000 solid 2px;
}
.web-check .custom-control-label::after {
	left: 0;
	width: 26px;
	height: 26px;
}
.web-check .custom-control-input:checked ~ .custom-control-label::before {
	border-color: #000000;
	background-color: #000;
	border-radius: 0;
}
.custom-control-label::before, .custom-file-label, .custom-select {
	transition: none !important;
}

/* .reset-panel {
	display: flex;
	justify-content: space-between;
} */
.reset-panel .reset-btn span {
	display: inline-block;
	height: 30px; width: 30px;
}
.reset-panel .round-btn span {
	display: inline-block;
	height: 40px; width: 40px;
}
.disclaimer-box {
	-webkit-flex-wrap: nowrap;
	    -ms-flex-wrap: nowrap;
	        flex-wrap: nowrap;
}
.disclaimer-box p:first-child {
	font-weight: 700;
	padding-right: 2rem;
}



/* --------- Main Body Ends --------- */





















/* --------- Side Bar CSS ---------- */





/**** Model ****/

@media (max-width: 1600px) {


  

}
@media (max-width: 1366px) {
    #main {
        padding-left: 70px;
        padding-right: 70px;
    }
    .navbar {
        padding: 10px 50px;
    }
    .navbar-nav .nav-link .nav-ico {
		width: 30px;
	}
}

@media (max-width: 1200px) {
    #main {
        padding-left: 50px;
        padding-right: 50px;
    }
    .navbar {
        padding: 10px 30px;
    }
    .navbar-nav .nav-link {
        font-size: 16px;
    }
}

@media (max-width: 991px) {
	#main {
		padding-left: 30px;
		padding-right: 30px;
	}
	.header-top {
		padding: 15px 0;
	}
	.navbar-brand {
		width: 200px;
	}
	.bell-notification  img {
		height: 30px;
		width: 30px;
	}
    .navbar {
        padding: 0;
    }
    .navbar-nav {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -moz-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
        -moz-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
    }
    .navbar-nav .nav-link {
		padding: 0 15px;
		margin: 15px 0;
	}
    .navbar-nav .nav-link .nav-ico {
		width: 25px;
	}
    .navbar-toggler {
        display: inline-block;
	}
	.lg-centered .progress-bars {
		width: 100%;
		margin-left: 0;
	}
	.lg-centered p {
		text-align: left;
	}
}
@media (max-width: 767px) {
	#main {
		padding-left: 15px;
		padding-right: 15px;
	}
	.header-top {
		padding: 10px 0;
	}
	.content-area {
		padding: 40px 0;
	}

}

@media (max-width: 576px) {
	
}